<div class="center hero-unit">
  <h1>About Us</h1>

 <br />
<br />
<p>
	<strong>Like a bolt of lightning, emerging technologies are dramatically transforming the business landscape.</strong> Need to add "about" info.
	</p>
</div>