<div class="center hero-unit">
  <h1>About Us</h1>

 <br />
<br />
<p>
	<%= image_tag("migrating-to-the-cloud.png", :align => 'left') %>
	<strong>A lot of companies have an About “Us” page.  They talk about all the things they do, and it is up to you to decide if they can help meet your needs.<br /><br />
	At Nuvola we do things a little differently.  It is not about us, it is about YOU.</strong> 
	<br /><br />
	What do YOU need to succeed and how can technology help you.
	<br /><br />
	Are you a small to medium size business that wants to take advantage of new technology to help promote growth, but not sure how?
	<br /><br />
	Are you looking for new and better ways to train your employees?
	<br /><br />
	Do you need a custom application developed for you business, but don't want to hire a full time developer?
	<br /><br />
	We would love to hear more about you and what you need as it relates to IT, training, and taking advantage of technology to create competitive advantages.
	</p>
	<div class="pagination-centered">
	<%= link_to "Let us Know What you Need", 'contact', class: "btn btn-large btn-primary" %>
</div>
</div>