<div class="center hero-unit">
  <h1>About YOU</h1>

 <br />
<br />
<p>
	<%= image_tag("migrating-to-the-cloud.png", :align => 'left') %>
	<strong>A lot of companies have an About “Us” page.  They talk about all the things they do, and it is up to you to decide if they can help meet your needs.<br /><br />
	At Nuvola we do things a little differently.  It is not about us, it is about YOU.</strong> 
	<br /><br />
	What do YOU need to succeed and how can technology help you.
	<br /><br />
	Are YOU an organization that needs to deliver compliance training to a large audience? We work with compliance regulators to make sure that YOUR training meets the requirements. We can develop curriculum, produce content, and host the Learning Management System. Do YOU look like Texas Charter School Association? Learn how Nuvola Networks served TCSA <a href="http://tcsa.nuvola-networks.com" target="_blank">Here</a>.
	<br /><br />
	Are you a small to medium size business that wants to take advantage of new technology to help promote growth, but not sure how?
	<br /><br /> 
	Are you a business that needs help building your brand, showcasing a new product, or promoting an event? Check out our Video Production Services <%= link_to "Here", av_path %> 
	<br /><br />
	Are YOU a company that has developed a product that needs complex end-user training? Our script writers can make engaging and educational training courses for the most complex products. Do YOU look like Innography? Learn how Nuvola Networks served Innography <a href="http://innography.nuvola-networks.com" target="_blank">Here</a>.
	<br /><br />
	Do you need a custom application developed for you business, but don't want to hire a full time developer?
	<br /><br />
	Are you looking for new and better ways to train your employees?
	<br /><br />
	We would love to hear more about you and what you need as it relates to IT, training, and taking advantage of technology to create competitive advantages.
	</p>
	<div class="pagination-centered">
	<%= link_to "Let us Know What you Need", 'contact', class: "btn btn-large btn-primary" %>
</div>
</div>