<div class="center hero-unit">
<h1>Production Services</h1>
<br />
<p><%=image_tag("video-productionSmall.png", :align => 'left') %></p><h2>Audio and Video Production</h2><p>Nuvola has an experienced Audio and Video team that can engage in course development, sales & marketing videos , event filming, or commercials,  We can provide a complete turnkey solution and manage production from start to finish staying engaged with you to make sure the end result is exactly what you need.</p>
<br /><br /><br />
<p><%= image_tag("editing2.jpg", :align => 'right') %></p><h2>Film Editing Services</h2><p>Nuvola can work with you to edit film in a high quality yet cost effective way.  Whether you need help with simple edits and transitions, or want us to completely storyboard out a segment we have the creative resources you need. </p>
<br />
<h2>Live Streaming</h2><p>Nuvola Networks can live stream your events anywhere around the globe.</p>
</div>