<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43996960-1', 'nuvola-networks.com');
  ga('send', 'pageview');

</script>
<div class="center hero-unit">
<h1>e-Learning | Consulting Services</h1><br />
<p><%= image_tag("migrating-to-the-cloud.png", :align => 'right') %></p>

<br /><p><strong>Are you thinking about taking your training online?</strong>  Are you unhappy with your current training environment?  Whether you are a traditional school or a for-profit business, Learning, Development, and Education, are in the midst of dramatic fluctuations as new technologies are coming to market.  What makes sense for your organization?  How do you build an effective online learning strategy, or is it even necessary?  Nuvola Networks has a team of experts ready to work with you to help you wade through the myriad of possibilities, and design a solution that meets your needs in the most efficient way.  Sign up for a free one hour consultation!</p>
<br />
<h2><%= link_to "Back", 'elearning' %></h2>
</div>