<div class="center hero-unit">
  <h1>Contact Us</h1>

 <br />
<br />
<p>
	For any additional info or a free consultation please contact us at <%= mail_to "info@nuvola-networks.com" %> or call us at 512-698-8913.
	
	Thanks!
	</p>
</div>