<div class="center hero-unit">
<h1>e-Learning | Course Development</h1><br />
<p><%= image_tag("Course.png", :align => 'left') %></p>
<br /><p><strong>Course Development and Design are key components of any online learning management system.</strong>  Nuvola seeks to do more than just host training online, we seek to work with you to help design cutting edge courses that are effective modes of communication, and enable students to learn in new and powerful ways.</p> 
<br />
<h2><%= link_to "Back", 'elearning' %></h2>
</div>