<div class="center hero-unit">
  <h1>Welcome to Nuvola Networks</h1>

 <br />
<br />

<p>
		<%= link_to image_tag("Cloud-Computing.png", :align => 'left', :padding => '7px', alt: "Nuvola Networks") %>
	<strong>Like a bolt of lightning, emerging technologies are dramatically transforming the business landscape.</strong></p><p> At Nuvola we believe that businesses must quickly adapt and learn how to harness disruptive technology as soon as possible. Nuvola uses the Build-Measure-Learn methodology in all of our projects and employs a vast array of experts to help your business innovate and achieve more.  Whether it is through <strong>Custom App Development, Video Production, or e-Learning Design & Development</strong> we can empower your company for success. View the About and Product pages to learn more about how we can help.
	</p>

	<div class="pagination-centered">
	 
	 <%= link_to "Ask About Our Free Consultation", 'contact', class: "btn btn-large btn-primary" %>
	</div>
  
</div>

