<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43996960-1', 'nuvola-networks.com');
  ga('send', 'pageview');

</script>
<div class="center hero-unit">
<h1>e-Learning | Virtual Learning Enviroment</h1><br />
<p>
<%= image_tag("hightech.png", :align => 'left') %></p>
<br /><p><strong>Education is currently in the midst of a dramatic shift.</strong>  The traditional classroom based methodology is quickly giving way to new approaches which use cutting edge technology to deliver pointed and valuable education to the individuals and companies who need it.  Education that is <b>relevant<b>, and always <b>readily available</b> no matter where you are.  
	<br />	
	<p>Nuvola can design, implement, host, and manage a robust learning environment.   Whether you want us to design and deliver a standalone solution or want us to completely host and manage your learning environment we have a solution for you.  Ask us about our pay-for-use cost models.  Not only is Nuvola able to build custom VLE’s But we are seeking to transform the education industry through constant innovation.</p> </p>
<br />
<h2><%= link_to "Back", 'elearning' %></h2>
</div>