<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43996960-1', 'nuvola-networks.com');
  ga('send', 'pageview');

</script>
<div class="center hero-unit">
<h1>Web Design & App Development</h1>

<p>Whether you need a website built from scratch, need us to host/manage an existing site, or need us to build custom applications for your site or business, we are here to help.</p>

<p>Services we offer:</p>

<p><b>Web Design:</b></p>

<ol>
	<p>
	<a href="http://www.nuvola-academy.com">Nuvola Academy</a></p>
	<p><a href="http://ahconsulting.nuvola-academy.com">A&H Consulting</a></p>
	<p><a href="http://www.eamproject.org">East Africa Metamorphosis Project</a></p>
	</ol>
	
<p><b>Custom App Development</b></p>
<ol>
	<p><a href="http://tcsa.nuvola-networks.com">Texas Charter School Association e-Learning Portal</a></p>
	<p><a href="http://coxtraining.nuvola-networks.com">Cox Training Solutions | Technical Training</a></p>
		<p><a href="#">HomeFinder | beta site</a></p>
</ol>
<br />
<br />
<p>In addition to web design and custom app development Nuvola Networks can also host and completely manage your site for you. <%= link_to "Contact us now", contact_path %> for a quote!</p> 
<br /><br />
<center><h3>Prices starting as low as $500 for a complete custom web site</h3></center>
</div>
