<div class="center hero-unit">
<h1>Web Design & App Development</h1>

<p>Whether you need a website built from scratch, need us to host/manage an existing site, or need us to build custom applications for your site or business, we are here to help.</p>

<p>Services we offer:</p>

<p><b>Web Design:</b></p>

<ol>
	<p>
	<a href="http://www.nuvola-academy.com">Nuvola Academy</a></p>
	<p><a href="http://ahconsulting.nuvola-academy.com">A&H Consulting</a></p>
	<p><a href="http://www.eamproject.org">East Africa Metamorphosis Project</a></p>
	</ol>
	
<p><b>Custom App Development</b></p>
<ol>
	<p><a href="http://tcsa.nuvola-networks.com">Texas Charter School Association e-Learning Portal</a></p>
	<p><a href="http://coxtraining.nuvola-networks.com">Cox Training Solutions | Technical Training</a></p>
</ol>
<br />
<br />
<p>In addition to web design and custom app development Nuvola Networks can also host and completely manage your site for you. <%= link_to "Contact us now", contact_path %> for a quote!</p> 
</div>
