<footer class="footer">
  <small>
    <p>Powered by <%= link_to "Nuvola Networks", 'home' %>
    | All Rights Reserved
  </small>
  <menu>
    <ul>
      <li><%= link_to "Twitter",   '#' %></li>
      <li><%= link_to "Facebook", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </menu>
</footer>
