<footer class="footer">
  <small>
    <p>Powered by <a href="http://www.nuvola-networks.com">Nuvola Networks</a>
    | All Rights Reserved
  </small>
  <menu>
    <ul>
      <li><%= link_to "Twitter",   '#' %></li>
      <li><%= link_to "Facebook", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </menu>
</footer>