<footer class="footer">
  <small>
    <p>Powered by <%= link_to "Nuvola Networks", 'home' %>
    | All Rights Reserved
  </small>
  <menu>
    <ul>
      <li><a href="http://www.twitter.com/nuvolanetworks" target="_blank">Twitter</a></li>
      <li><a href="http://www.facebook.com/nuvolanetworks" target="_blank">Facebook</a></li>
      <li><a href="#">News</a></li>
    </ul>
  </menu>
</footer>
